AddDefaultCharset UTF-8

# development secured area
#AuthName "bookpile"
#AuthType Basic
#AuthUserFile /relaunch/.htpasswd
#require valid-user

IndexIgnore *

RewriteEngine on

# dotfiles (.htaccess, .git...)
RedirectMatch 403 /\..*$

# folders and files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirect to index
RewriteRule ^.*$ index.php [L]
#RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

<Files config.php>
Deny from all
</Files>

<Files ~ "\.(htm|html)$">
Deny from all
</Files>